/* Board.css*/

/* Styling for the game board */
.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-container{
    padding: 10px 10px 0px 10px;
}

/* Styling for each row in the game board */
.board-row:after {
    clear: both;
    content: "";
    display: table;
}

/* Styling for the game status */
.status {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 10px 0;
}

/* Styling for the game over message and winner information */
.game-over {
    margin-top: 20px;
    text-align: center;
}

/* Styling for the "Play Again" button */
.play-again-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  
.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    width: 100px;
    height: 100px;
    text-align: center;
}
