/* Square.css */

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 54px;
  width: 54px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
  
.square:focus {
  outline: none;
}

.x-square {
  color: rgb(175, 234, 71); /* Green color for X */
}

.o-square {
  color: rgb(231, 50, 197); /* Pink color for O */
}